# Python virtual environment
venv/
*.venv/

# .pyc files and other Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE or Editor files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
.env
.env.*

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# pytest
.cache

# mypy
.mypy_cache/

# pyre type checker
.pyre/
